---

---
<section id="home" class="pt-8 md:pt-4">
    <div class="container">
        <div class="flex flex-wrap w-full px-4 md:px-16">
            <div class="w-full self-start mb-5 mt-2 md:mt-0 md:w-1/3">
                <div class="relative md:mt-9">
                    <a href="https://github.com/pengdst"
                       target="_blank">
                        <img class="rounded-none max-w-full mx-auto md:bg-secondaryBackground md:shadow-sky-500 md:border-b-2 md:border-primary md:duration-200 md:ease-in-out md:hover:shadow-lg md:hover:shadow-sky-400 md:w-3/4 md:border-2 md:rounded-full"
                             src="./img/avatar.png"
                             loading="lazy"
                             alt="Pengkuh Dwi Septiandi">
                    </a>
                </div>
            </div>
            <div class="w-full self-center md:w-2/3">
                <h1 class="text-base font-semibold text-primary">
                    Hi there! <span
                    class="block text-4xl text-dark font-bold">I'm Pengkuh</span>
                </h1>
                <h2 class="text-darkLight text-start font-light mb-3">
                    Back-end Developer ~ Golang | NodeJS | Typescript
                </h2>
                <p class="font-light text-start text-primaryText my-5 flow-root">
                    Hello, my name is <span class="font-semibold">Pengkuh Dwi Septiandi</span>.
                    I am a highly skilled and experienced in <span
                    class="italic">Back-end
                            Development</span> with a background in Android
                    Development as well. I also proficient in
                    programming
                    languages such as Go, Typescript, Kotlin, Java, and
                    Laravel.
                </p>

                <a href="#contacts"
                   class="text-white bg-sky-500 rounded-full px-5 py-3 hover:border-4 hover:border-sky-400 hover:border-opacity-90 ease-in-out duration-300">
                    Contact Me
                </a>
            </div>
        </div>
    </div>
</section>