---
interface Props {
  url: string;
  label: string;
}

const {label, url} = Astro.props as Props;
---

<a class="sidebar-icon group"
   aria-label={label} href={url}>
    <slot/>

    <span class="sidebar-tooltip group-hover:scale-100 group-focus-visible:scale-0 group-hover:animate-bounce">
        {label}
    </span>
</a>