@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-icon {
        @apply relative flex
        items-center justify-center
        h-12 w-12 mx-auto gap-1 leading-relaxed
        rounded-3xl bg-primaryBackground
        text-lg no-underline font-serif text-primaryBorder
        focus:text-sky-600
        hover:bg-accent hover:text-primaryText hover:rounded-xl hover:shadow-lg
        dark:text-primaryBorderDark
        transition-all duration-300 ease-linear
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 flex min-w-max bottom-14 md:bottom-0 md:left-14 rounded-md shadow-md
        text-primaryText bg-primaryBackground text-xs font-bold font-serif
        transition-all duration-100 scale-0 origin-left hover:scale-0 focus:scale-0
    }
}