---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
const { title } = Astro.props
---
<script>
    import {isDarkMode} from '../data/setting';

    isDarkMode.subscribe(isDarkModeEnabled => {
        const className = 'dark';
        const bodyClass = window.document.body.classList;

        isDarkModeEnabled ? bodyClass.add(className) : bodyClass.remove(className)
    })
</script>

<html lang="en">
    <head title={title}>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <BaseHead title={title}/>
    </head>
    <body>
        <Nav />
        <article class="bg-primaryBackground">
            <slot /> <!-- your content is injected here -->
        </article>
        <Footer />
    </body>
</html>